@-webkit-keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes ping {

  75%,
  to {
    transform: scale(2);
    opacity: 0
  }
}

@keyframes ping {

  75%,
  to {
    transform: scale(2);
    opacity: 0
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5
  }
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

@-webkit-keyframes bounce {

  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(.8, 0, 1, 1)
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-timing-function: cubic-bezier(0, 0, .2, 1)
  }
}

@keyframes bounce {

  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(.8, 0, 1, 1)
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-timing-function: cubic-bezier(0, 0, .2, 1)
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e4e4e7
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-family: inherit;
  line-height: inherit
}

hr {
  height: 0;
  color: inherit
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
pre,
samp {
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
button {
  -webkit-appearance: button
}

legend {
  padding: 0
}

progress {
  vertical-align: baseline
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

summary {
  display: list-item
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}

button {
  background-color: transparent;
  background-image: none;
  cursor: pointer
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0
}

ol,
ul {
  list-style: none
}

hr {
  border-top-width: 1px
}

img {
  border-style: solid
}

textarea {
  resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a1a1aa
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a1a1aa
}

input::placeholder,
textarea::placeholder {
  color: #a1a1aa
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}

img,
video {
  max-width: 100%;
  height: auto
}

.strum {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  border-radius: 9999px;
  width: 4rem;
  height: 4rem;
  border-width: 8px
}

@media (min-width: 768px) {
  .strum {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(8px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
  }
}

.strum {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

@media (pointer: fine) {
  .strum {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, 1, 1);
    transition-duration: 75ms
  }

  .strum:hover {
    --tw-scale-x: .9;
    --tw-scale-y: .9
  }
}

.strum-down,
.strum-up {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.strum-down {
  --tw-bg-opacity: 1;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(217, 119, 6, var(--tw-ring-opacity));
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
  border-color: rgba(245, 158, 11, var(--tw-border-opacity))
}

.strum-up {
  background-color: rgba(34, 211, 238, var(--tw-bg-opacity));
  border-color: rgba(6, 182, 212, var(--tw-border-opacity));
  --tw-ring-color: rgba(8, 145, 178, var(--tw-ring-opacity))
}

.dark .strum-inactive,
.strum-inactive,
.strum-up {
  --tw-bg-opacity: 1;
  --tw-ring-opacity: 1
}

.strum-inactive {
  --tw-ring-color: rgba(107, 114, 128, var(--tw-ring-opacity));
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  opacity: .5;
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
  border-color: rgba(156, 163, 175, var(--tw-border-opacity))
}

.dark .strum-inactive {
  background-color: rgba(156, 163, 175, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
  --tw-ring-color: rgba(75, 85, 99, var(--tw-ring-opacity))
}

.beat-title,
.dark .beat-title,
.strum-inactive {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1
}

.beat-title {
  border-bottom-width: 2px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  color: rgba(75, 85, 99, var(--tw-text-opacity))
}

.dark .beat-title {
  border-color: rgba(55, 65, 81, var(--tw-border-opacity));
  color: rgba(156, 163, 175, var(--tw-text-opacity))
}

.button-base,
.button-disabled {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.button-base,
.dark .button-base {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1
}

.button-base {
  padding: .5rem 1rem;
  border-radius: .5rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, 1, 1);
  transition-duration: 75ms;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  color: rgba(107, 114, 128, var(--tw-text-opacity))
}

.dark .button-base {
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  color: rgba(243, 244, 246, var(--tw-text-opacity))
}

.button-base:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05
}

.button-base:active {
  --tw-scale-x: .95;
  --tw-scale-y: .95
}

.button-disabled {
  opacity: .25;
  --tw-shadow: 0 0 #0000;
  cursor: not-allowed
}

.button-disabled:active,
.button-disabled:hover {
  --tw-scale-x: 1;
  --tw-scale-y: 1
}

.space-y-2>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem*calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem*var(--tw-space-y-reverse))
}

.space-x-2>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(.5rem*var(--tw-space-x-reverse));
  margin-left: calc(.5rem*calc(1 - var(--tw-space-x-reverse)))
}

.space-y-4>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem*calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem*var(--tw-space-y-reverse))
}

.space-x-4>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem*var(--tw-space-x-reverse));
  margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
}

.space-y-12>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem*calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem*var(--tw-space-y-reverse))
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text
}

.bg-coolGray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}

.dark .dark\:bg-coolGray-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity))
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops))
}

.from-yellow-400 {
  --tw-gradient-from: #facc15;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(250, 204, 21, 0))
}

.via-amber-500 {
  --tw-gradient-stops: var(--tw-gradient-from), #f59e0b, var(--tw-gradient-to, rgba(245, 158, 11, 0))
}

.to-orange-600 {
  --tw-gradient-to: #ea580c
}

.border-amber-500,
.border-cyan-500 {
  --tw-border-opacity: 1;
  border-color: rgba(6, 182, 212, var(--tw-border-opacity))
}

.border-amber-500 {
  border-color: rgba(245, 158, 11, var(--tw-border-opacity))
}

.dark .dark\:border-cyan-800 {
  --tw-border-opacity: 1;
  border-color: rgba(21, 94, 117, var(--tw-border-opacity))
}

.dark .dark\:border-amber-800 {
  --tw-border-opacity: 1;
  border-color: rgba(146, 64, 14, var(--tw-border-opacity))
}

.border-b-2 {
  border-bottom-width: 2px
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.font-thin {
  font-weight: 100
}

.font-light {
  font-weight: 300
}

.font-bold {
  font-weight: 700
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-2 {
  margin-bottom: .5rem
}

.max-w-2xl {
  max-width: 42rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem
}

.pt-3 {
  padding-top: .75rem
}

* {
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000
}

.text-coolGray-600,
.text-coolGray-800 {
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity))
}

.text-coolGray-800 {
  color: rgba(31, 41, 55, var(--tw-text-opacity))
}

.text-transparent {
  color: transparent
}

.hover\:text-cyan-500:hover {
  --tw-text-opacity: 1;
  color: rgba(6, 182, 212, var(--tw-text-opacity))
}

.hover\:text-amber-500:hover {
  --tw-text-opacity: 1;
  color: rgba(245, 158, 11, var(--tw-text-opacity))
}

.dark .dark\:text-coolGray-200 {
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity))
}

.dark .dark\:text-coolGray-400 {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity))
}

.gap-4 {
  gap: 1rem
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr))
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex
  }

  .md\:mb-0 {
    margin-bottom: 0
  }
}